body {
  font: 14px Arial, sans-serif;
}

.test-block h1 {
  color: #424242;
}

.test-block {
  text-align: center;
}

.test-block ul.test-description {
  list-style-type: none;
}

.dial {
  width: 40px;
  height: 40px;
}

.slider {
  width: 40px;
  height: 100px;
}

.keyboard {
  width: 300px;
  height: 80px;
}

.graph {
  width: 300px;
  height: 100px;
}

.multislider {
  width: 300px;
  height: 100px;
  border: 1px solid #aaa;
}