body {
  background-color: #333;
}

#additorKbdWrap {
  background-color: #222;
  margin: 10px;
  width: 100%;
}

.wrap {

}

/* --- Main wrap --- */

#additor-wrap {

}

/* --- Keyboard --- */

#kbd-ctrl-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#kbd-wrap {
  height: 100px;
  width: 80%;
}

/* --- Envelope --- */

.env-wrap {
  width: 30%;
  height: 100px;
  border: 0;
}

#env-ctrl-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 600px;
  min-width: 30px;
  min-height: 100px;
}

#senv-wrap {
  border-right-style: dashed;
  border-left-style: dashed;
  border-color: #f00;
  border-width: 1px;
}
