body {
  background-color: #555;
}

#additor-container {
  display: flex;
  border: 1px solid #555;
}

#additor-kbd-container {
  width: 400px;
  height: 200px;
}

#volume-dial-container {
  width: 100px;
  height: 400px;
}

#volume-slider-container {
  width: 200px;
  height: 200px;
}
