@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Ewert';

$mainBgColor: #333;
$componentBgColor: #444;

$titleFont: 'Roboto';
$componentFont: 'Arimo';
$mainFontColor: #cfcfcf;

body {
  background-color: $mainBgColor;
  font-family: Arimo;
}

#additor {
  color: #eee;

  & > div {
    box-shadow: 1px 1px 2px 0px #333;
  }

  & > .titleBar {
    background-color: $componentBgColor;
    font-family: $titleFont;
    color: $mainFontColor;
    letter-spacing: 0.05em;
    padding: 1em;

    & > .title {
      font-size: 1.5em;
    }

    & > .subtitle {
      padding-top: 0.5em;
      font-size: 0.8em;
      font-family: $componentFont;
    }
  }


// === Keyboard controls ==============================
  .kbd {
    background-color: #222;
    margin: 10px;
    width: 200px;
  }

// === Overtone controls ==============================
  .otHisto {
    width: 200px;
    height: 100px;
  }

// === Output controls ================================
  .outputCtrl {
    background-color: $componentBgColor;
    display: block;
    height: 180px;
    width: 100px;
    border: 1px solid #666;

    .title {
      display: block;
      width: 100%;
      text-align: center;
      padding-bottom: 0.2em;
      font-size: 0.8em;
    }

    & > .title {
      padding-bottom: 5px;
      font-size: 1em;
    }

    .panCtrl {
      height: 50px;
      display: block;
      margin-left: auto;
      margin-right: auto;

      .dial {
        display: block;
        height: 30px;
        width: 100%;
      }

      .valueDisplay {
        display: block;
        text-align: center;
      }
    }

    .volumeCtrl {
      height: 50px;
      display: block;

      & > div:nth-child(2) {
        display: block;
        width: 100%;
        text-align: center;

        .meter {
          display: inline-block;
          height: 56px;
          width: 10px;
        }

        .slider {
          display: inline-block;
          height: 56px;
          width: 10px;
        }
      }
    }
  }
}

/* --- Envelope --- */

.env-wrap {
  width: 30%;
  height: 100px;
  border: 0;
}

#env-ctrl-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 600px;
  min-width: 30px;
  min-height: 100px;
}

#senv-wrap {
  border-right-style: dashed;
  border-left-style: dashed;
  border-color: #f00;
  border-width: 1px;
}
