@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Ubuntu';
@import 'https://fonts.googleapis.com/css?family=Catamaran';

$mainBgColor: #333;
$componentBgColor: #444;

$mainFontFamily: 'Catamaran', Arial, sans-serif;
$mainFontColor: #999;

$widgetFontColor: #ddd;
$widgetBgColor: #222;

body {
  max-width: 100%;
  background-color: $mainBgColor;
  font-family: Arimo;
}

/* --------------------- */
/* --- Global styles --- */
/* --------------------- */

#additor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  color: #eee;
  border: 1px solid #444;
  font-size: 1em;

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #444;
    margin: 2px;
    padding: 1px 1em 1em 1em;
    box-shadow: 1px 1px 1px 0px #333;
    font-family: $mainFontFamily;
    color: $mainFontColor;
    font-size: 1em;

    .header {
      display: block;
      margin-bottom: auto;

      .title {
        font-family: $mainFontFamily;;
        color: $mainFontColor;
        font-size: 0.8em;
        letter-spacing: 0.15em;
      }
    }

    .footer {
      display: block;
      margin-top: auto;
    }

    .component {
      display: inline-block;
    }

    .subsection {
      display: inline-block;
    }

    label {
      display: inline-block;
      font-size: 0.7em;
    }

    .btn {
      background-color: #555;
      padding: 3px;
      padding-top: 1px;
      padding-bottom: 1px;
      border: 1px solid #999;
      font-size: 0.6em;

      &:hover {
        background-color: #666;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      &:active {
        background-color: #aaa;
      }
    }

    .dial {
      display: block;
      margin-top: 2px;
      height: 30px;
      width: 100%;
    }

    .dropMenu {
      display: inline-block;
      height: 1.2em;
      width: 6em;
    }

    .numbox {
      position: relative;
      display: inline-block;
      background-color: $widgetBgColor;
      color: $mainFontColor;
      width: 3em;
      height: 0.8em;
    }

    input[type='number'] {
      position: relative;
      display: inline-block;
      text-align: center;
      background-color: $widgetBgColor;
      color: $mainFontColor;
      width: 3em;
      height: 1.1em;
      border: 0;

      &:focus {
        border: 0;
      }
    }
  }
}

@media only screen and (min-width: 0em) {

  #additor {

    /* -------------------- */
    /* --- Main header ---  */
    /* -------------------- */

    .section.main-header {
      order: 0;
      display: block;
      padding-left: 1em;
      padding-bottom: 0em;
      width: 100%;

      .title {
        font-family: $mainFontFamily;
        font-size: 2em;
        letter-spacing: 0.09em;
        text-align: center;
      }

      .subtitle {
        display: none;
        font-family: $mainFontFamily;
        font-size: 0.8em;
        margin-top: 0em;
        text-align: left;
      }
    }

    /* ------------------------- */
    /* --- Keyboard controls --- */
    /* ------------------------- */

    .section.kbd-ctrl {
      order: 2;
      width: 100%;
      padding-top: 1em;

      .component.kbd {
        width: 100%;
      }
    }

    /* ------------------------- */
    /* --- Overtone controls --- */
    /* ------------------------- */

    .section.ot-ctrl {
      order: 3;
      width: 100%;

      .component.otHisto {
        width: 100%;
        min-height: 150px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    /* ------------------------- */
    /* --- Envelope controls --- */
    /* ------------------------- */

    .section.env-ctrl {
      order: 4;
      width: 100%;

      .subsection.tool-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        padding: 0.3em 1em 0.2em 1em;
        border: 1px solid #333;

        .component.select-overtone {
          label {
            display: block;
            padding-left: 3px;
          }
        }
        .component.copy-and-paste-ctrl {
          align-self: center;

          .btn {
            display: inline-block;
          }
        }
      }

      .subsection.env {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 0.5em;
        text-align: center;

        .attack, .sustain, .release {
          position: relative;
          display: inline-block;
          background-color: #111;

          label {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            color: #666;
          }

          .graph {
            position: relative;
            min-height: 100px;
          }

          .numbox {
            transform: translateY(0.16em);
          }
        }

        .attack {
          width: 40%;
          border-right: 1px dashed rgba(255,0,0,0.5);
        }
        .sustain {
          width: 20%;
          border-left: 1px dashed rgba(255,0,0,0.5);
          border-right: 1px dashed rgba(255,0,0,0.5);
        }

        .release {
          width: 40%;
          border-left: 1px dashed rgba(255,0,0,0.5);
        }
      }
    }

    /* ----------------------- */
    /* --- Filter controls --- */
    /* ----------------------- */

    .filter-ctrl {
      order: 5;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      .header {
        display: block;
        width: 100%;
        .title {
          text-align: center;
        }
      }

      .component {
        display: inline-block;
        text-align: center;
        label {
          display: block;
        }
        .dropMenu {
          width: 4em;
          margin-top: 0.5em;
        }
      }
    }

    /* ---------------------- */
    /* --- Delay controls --- */
    /* ---------------------- */

    .delay-ctrl {
      order: 6;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      .header {
        display: block;
        width: 100%;
        .title {
          text-align: center;
        }
      }

      .subsection {
        display: inline-block;
        text-align: center;
        .component {
          display: block;
        }
      }
    }

    /* ---------------------------- */
    /* --- Main output controls --- */
    /* ---------------------------- */

    .main-output-ctrl {
      order: 7;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      .header {
        display: block;
        width: 100%;
        .title {
          text-align: center;
        }
      }

      .component {
        display: inline-block;
        text-align: center;

        .meter-slider-wrap {
          display: block;
          transform: translateX(0.3em);

          .meter {
            display: inline-block;
            width: 5px;
            height: 50px;
          }

          .slider {
            display: inline-block;
            width: 10px;
            height: 50px;
          }
        }
      }
    }

    /* --------------------------- */
    /* --- Main synth controls --- */
    /* --------------------------- */

    .section.synth-ctrl {
      order: 8;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .component {
        display: inline-block;
        text-align: center;

        label {
          text-align: center;
        }

        input {
          text-align: center;
        }

        .dropMenu {
          transform: translateY(0.4em);
        }
      }
    }

    .section.space-filler {
      display: none;
    }
  }
}

@media only screen and (min-width: 40em) {

  #additor {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    /* -------------------- */
    /* --- Main header ---  */
    /* -------------------- */

    .section.main-header {
      order: 0;
      padding-bottom: 1em;

      .title {
        text-align: left;
      }

      .subtitle {
        display: inline-block;
        text-align: left;
      }
    }

    /* ------------------------- */
    /* --- Overtone controls --- */
    /* ------------------------- */

    .section.ot-ctrl {
      order: 1;
      min-width: 40%;
      width: auto;
      flex-grow: 1;

      .component.otHisto {
        width: 100%;
        min-height: 150px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    /* ------------------------- */
    /* --- Envelope controls --- */
    /* ------------------------- */

    .section.env-ctrl {
      order: 2;
      width: auto;
      min-width: 45%;
    }

    /* ----------------------- */
    /* --- Filter controls --- */
    /* ----------------------- */

    .filter-ctrl {
      order: 3;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: auto;

      .header {
        display: block;
        .title {
          text-align: center;
        }
      }

      .component {
        display: inline-block;
        text-align: center;
        label {
          display: block;
        }
        .dropMenu {
          width: 4em;
          margin-top: 0.5em;
        }
      }
    }

    /* ---------------------- */
    /* --- Delay controls --- */
    /* ---------------------- */

    .delay-ctrl {
      order: 4;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: auto;

      .header {
        display: block;
        width: 100%;
        .title {
          text-align: center;
        }
      }

      .subsection {
        display: inline-block;
        text-align: center;
        .component {
          display: block;
        }
      }
    }

    /* ---------------------------- */
    /* --- Main output controls --- */
    /* ---------------------------- */

    .main-output-ctrl {
      order: 5;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: auto;

      .component {
        display: inline-block;
        text-align: center;

        .meter-slider-wrap {
          display: block;
          transform: translateX(0.3em);

          .meter {
            display: inline-block;
            width: 10px;
            height: 70px;
          }

          .slider {
            display: inline-block;
            width: 10px;
            height: 70px;
          }
        }
      }
    }

    /* --------------------------- */
    /* --- Main synth controls --- */
    /* --------------------------- */

    .section.synth-ctrl {
      order: 6;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: auto;

      .component {
        display: inline-block;
        margin-bottom: 2em;

        label {
          display: block;
          text-align: center;
          margin-bottom: 0.5em;
        }

        input {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        .dropMenu {

        }
      }
    }

    .section.space-filler {
      order: 7;
      display: inline-block;
      flex-grow: 1;
      width: auto;
    }

    /* ------------------------- */
    /* --- Keyboard controls --- */
    /* ------------------------- */

    .section.kbd-ctrl {
      order: 8;
      width: 100%;
      padding-top: 1em;

      .component.kbd {
        width: 100%;
      }
    }




  }
}
